# Env files

.env
.env.*
application-local.properties
application-local.yml

# Node

node_modules/
dist/
build/

# Java

target/
*.class
*.jar

# IDE

.idea/
.vscode/
*.iml

# OS

.DS_Store
Thumbs.db
